#cattoimg {
  width: 80%;
  height: auto;
}
#cube canvas {
  width: 80%;
  height: auto;
}
#othermenu {
  background: rgb(44, 44, 44);
  border-radius: 5px;
  padding: 15px;
}
.spin {
  animation: spin linear 10s infinite;
}
.spinbck {
  animation: spinbck linear 10s infinite;
}
@keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
}
@keyframes spinbck {
  0% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(0deg);
  }
}