body {
  background-color: black;
  background-image: radial-gradient(rgba(247, 247, 247, 0.75), black 120%);
  height: 100vh;
  margin: 0px;
}

.item1 {
  grid-area: header;
}

.item2 {
  grid-area: menu;
}

.item3 {
  grid-area: main;
}

.item4 {
  grid-area: footer;
}

.main {
  height: 100vh;
  display: grid;
  grid-template-areas:
    'header header header header header header header header'
    'main main main main main main main main'
    'main main main main main main main main'
    'main main main main main main main main'
    'menu menu menu menu menu menu menu menu'
    'footer footer footer footer footer footer footer footer';
  background-color: transparent;
  gap: 5px;
  margin: 5px;
}

.item1 {
  background-color: rgb(56, 56, 56);
  border-radius: 5px;
  font-family: consolas;
  justify-content: center;
  align-items: center;
  text-align: center;
  text-shadow: 0 0 5px #C8C8C8;
}

body::after {
  content: " ";
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  pointer-events: none;
  bottom: 0;
  right: 0;
  background: linear-gradient(rgba(18, 16, 16, 0) 50%, rgba(0, 0, 0, 0.25) 50%), linear-gradient(90deg, rgba(255, 0, 0, 0.06), rgba(0, 255, 0, 0.02), rgba(0, 0, 255, 0.06));
  z-index: 2;
  background-size: 100vh 2px, 3px 100vw;
}

.item2 {
  background-color: rgb(78, 78, 78);
  border-radius: 5px;
  justify-content: center;
  display: block;
}

.item3 {
  background-color: rgb(44, 44, 44);
  border-radius: 5px;
  overflow-y: auto;
  padding: 2%;
  justify-content: center;
  display: block;
  min-width: none;
}

@font-face {
  font-family: consolas;
  src: url(./Consolas.ttf);
}

#BIG {
  width: 360px;
  margin: 5px;
  margin-bottom: 15px;
  box-shadow: 0 19px #999;
  cursor: pointer;
  float:left;
  border-radius: 35px;
  height: 360px;
}
.item4 {
  background-color: rgb(128, 128, 128);
  border-radius: 5px;
  text-align: center;
  justify-content: center;
  display: block;
  align-items: center;
}

#BIG:active {
  box-shadow: 0 5px #666;
  transform: translateY(14px);
}

.button:active {
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.button {
  width: 60px;
  margin: 5px;
  margin-bottom: 15px;
  box-shadow: 0 9px #999;
  cursor: pointer;
  float:left;
  border-radius: 5px;
  height: 60px;
}

.main>div {
  word-wrap: break-word;
  display: flex;
  font-family: consolas;
  color: white;
  text-shadow: 0 0 5px #C8C8C8;
  font-size: 30px;
}